<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Smarty Pants Tutoring" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/navigation' %>
    
    <main class="flex-grow">
      <% if notice %>
        <div class="bg-green-50 border-l-4 border-green-400 p-4 mb-4">
          <p class="text-green-700"><%= notice %></p>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="bg-red-50 border-l-4 border-red-400 p-4 mb-4">
          <p class="text-red-700"><%= alert %></p>
        </div>
      <% end %>
      
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>
  </body>
</html>
